/* Font family: Roboto Mono, Rubik (headers)
Font-weight: normal, 600
Icons: Material Icons
CSS Effects:
- Form box-shadow: box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
- Save button box-shadow: box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
Colors:#008000 #ADAAAA #CCC #E34E45 #EEE */

body{
  text-align: center;
  background-color: rgb(231, 220, 218);
}

h1{
  font-family: Rubik;
  font-weight: 600;
  color: #E34E45;
}
h3{
  font-family: Rubik;
  font-weight: normal;
}

button{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #EEE;
  margin: 2px;
  color: #CCC;
}

button:hover{
  background-color: #ADAAAA;
}

.heading{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.floor-plan{
  width: 350px;
  margin: auto;
  padding: 3%;
  background-color: white;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.reservation-box{
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
  background-color: white;
  width: 400px;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-top; auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: column;
  flex-direction: column; */
  /* width: 350px;
  margin: auto; */
}
.name, .phone-number, .table-number {
  border: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #CCC;
  width: 350px;
}

.name {
  margin-top: 10px;
}

.table-number {
  margin-bottom: 15px;
}

.submit-button {
  background-color: #008000;
  box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
  width: 400px;
  height: 40px;
  color: white;
  margin-bottom: 0px;

}

.reserved{
  background-color: #ADAAAA;
}
